table {
    background-color: rgb(174, 184, 184) ;  
     border: solid black 1px;
     border-collapse: collapse;
     width: 100%;
     /* overflow-x:auto; */
   }
   
   th {
       border: solid black 1px;
       height: 40px;
   }
   
   td {
       border: solid black 1px;
       text-align: center;
   }
td:hover {
    background: #286428;
}   
th:hover {
    background: #286428;
}   
    
* {
    box-sizing: border-box;
    margin: auto;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dec5e4d7;
    width: 60%;
    margin: auto;
}
header {
    padding: 30px;
    text-align: center;
    background-image: url("../img/OIP.jpg");
   
}
a{
    text-align: left;
    background-color: #d16219c9;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color :lavenderblush;
    margin: 5px;
    border: 1px solid rgb(187, 98, 98);
    text-shadow: 1px 1px red;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    display: block;
    margin: 30px;
}
footer {
    clear: both;
    height: 50px;
    background-color: #3f943ffb;
    
}
h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
}
#l2 {
    border: 1px solid rgb(187, 98, 98);
    text-transform: uppercase;
    text-shadow: 1px 1px red;
    
}


input:invalid {
    border: 2px dashed red;
}
input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
input:valid {
    border: 2px solid black;
    box-shadow: 0 0 5px 1px red;
  }

#p1{
    font-family: serif;
    font-size: 20px;
}
p{
    background-color: burlywood;
}
ul{
    display: block;
    border-style: inset;
}
